.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: red;
  width: 100%;
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.type {
  font-size: 0.9rem;
  font-weight: 500;
  /* color: #555; */
  color: white;
}

.altName {
  font-size: 0.8rem;
  color: white;
  margin-top: 0.3rem;
}

@media (min-width: 768px) {
  .card {
    width: 200px;
  }
}
